<% content_for(:title, "Portfolio | Categories") %>

<div class="container">
  <div class="row">
    <h2 class="page-header text-center">
      David Abel
    </h2>
  </div>
  <div class="row">
    <div class="col-md-5 left" id="about">
      <h3>About Me</h3>
        <p>I am an eLearning Developer and Student at <a href="http://www.Epicodus.com" target="blank">Epicodus</a>.</p>
        <br><br>
      <h4 class="description">Contact</h4>

        <p>drabelpdx@gmail.com<br>

        <%= link_to 'GitHub', "https://github.com/drabelpdx", :target => 'blank' %><br>
        <%= link_to 'Linkedin', "https://www.linkedin.com/in/drabelpdx", :target => 'blank' %><br>
        <%= link_to 'JrDevJobs', "https://epicodus.jrdevjobs.com/profiles/drabelpdx", :target => 'blank' %><br>
        <%= link_to 'eLearning Profile', "http://www.abelpdx.com", :target => 'blank' %></p>

        <br>
        <%= link_to 'Professional References', ref_page_path, remote: true %></p>

    </div>
    <div class="col-md-5 right" id="category">
      <h3>Code Skills by Category
        <% if current_admin %>
          |  <%= link_to 'Add a Category', new_category_path, :class => "btn btn-primary" %>
        <% end %>
      </h3>
      <p>You can check out some of the projects I've been working on. Click on a category to see all the projects for that code skill. </p>
      <% @categories.each do |category| %>
        <hr>
        <div class="text-center">
          <h4><%= link_to category.name, category_path(category.id) %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
