<% content_for(:title, @category.name + " | Projects") %>
<div class="row">
  <h2 class="page-header text-center">
    <%=@category.name %>
  </h2>
</div>
<div class="row">
  <div class="col-md-5 category" id="category">
    <% if current_admin %>
      <%= link_to 'Edit category', edit_category_path, :class => "btn btn-success" %>  |
      <%= link_to 'Delete', category_path(@category), :class => "btn btn-danger", :data => {:confirm => "You sure?", :method => "delete"} %>
    <hr>
    <% end %>
    <h4>Experience:</h4>
    <p><%=@category.description%></p>
    <br>
  </div>
  <div class="col-md-5 projects" id="projects">
    <% if current_admin %>
      <%= link_to 'Add a Project', new_category_project_path(@category.id), :class => "btn btn-primary" %>
      <br><br>
    <% end %>

    <h4>Projects in <%=@category.name %>:</h4>
    <% @category.projects.each do |project| %>
      <li><%= link_to project.name, category_project_path(@category, project) %></li>
    <%end%>
  </div>
</div>
