<% content_for(:title, @category.name + " | Projects") %>
<div class="container">

  <div class="row">
    <h2 class="page-header text-center">
      <%=@category.name %>
      <% if current_admin %>
        |  <%= link_to 'Edit category', edit_category_path, :class => "btn btn-success" %>  |
        <%= link_to 'Delete', category_path(@category), :class => "btn btn-danger", :data => {:confirm => "You sure?", :method => "delete"} %>
      <% end %>
    </h2>
  </div>
  <div class="row left">
    <p><%=@category.description%></p>
  </div>
</div>
<div class="row spacer">

</div>
<div class="container">
  <div class="row left">
    <h3 class="page-header text-center">Projects
      <% if current_admin %>
        |  <%= link_to 'Add a Project', new_category_project_path(@category.id), :class => "btn btn-primary" %>
      <% end %>
      <br><br>
    </h3>
  </div>
  <div class="row">
    <%= render "projects/projects", project: @project %>
  </div>
</div>
